/* css di partenza */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css dell'header */

#header-logo{
    padding: 15px 20px;
}

#logo{
    height:50px;
    line-height: 50px;
    vertical-align: middle;
}

#text-logo{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 30px;
    /* font-size:x-large; */
}
