/* css di partenza */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight:bolder;
}

/* css dell'header */

    /* posizionamento logo */
    #header-logo{
        padding: 15px 20px;
    }

    /* centrare logo e titolo */
    #logo{
        height:50px;
        line-height: 50px;
        vertical-align: middle;
    }

    /* font del titolo */
    #text-logo{
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 30px;
        /* font-size:x-large; */
    }


/* css del main */

    /* sfondo container */
    #container{
        width: 100%;
        height: 1200px;
        background-color:rgb(246 248 249);
    }

    /* contenitore dei task */
    .sfondo-task{
        background-color: white;
        border-radius: 1%;
        width: 60%;
        height: 550px;
        margin: 0 auto;
        position:relative;
        top: 50px;
    }

    /* css per allineare i contenuti */
    .margine-sinistro{
        margin-left: 45px;
    }
    
    /* ------------bottoni-------- */
    .bottone{
        border-width: 2px;
        border-radius: 5px;
        border-style: solid;
        padding: 5px 10px;
        margin: 15px 0 10px;
    }

    .bottone-aggiunta{
        background-color: rgb(92 168 240);
        color: white;
        border-color: rgb(92 168 240);
    }

    .bottone-sezione{
        background-color: white;
        color:rgb(199 203 208);
        border-color: rgb(199 203 208);
    }

    hr{
        border: 1px solid rgb(246 248 249);
    }

    /* -----------bottoni---------- */

    /* -----------task------------- */

    /* Titoli */
    h3{
        margin-top:25px;
    }

    h3::before{
        content: '\25BC';
    }

    /* task eseguiti */

    /* provato ad usare il codice univoco, ma non capisco */
        /* .eseguiti{
            display: inline-block;
            position: relative;
            width:20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border: 1px solid green;
            border-radius: 50px;
        }

        .eseguiti::before{
            content:"\2713";
            position:absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            color: green;
            border-radius: 50px;
        } */

    .margine-sinistro img{
        width: 15px;
        margin: 10px 8px 0 0;
    }


    /* Sezione di appartenenza */
    h6{
        display: inline-block;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 9px;
        color: white;
    }
    
    /* Sezioni specifiche */
    .editoriale{
        background-color: rgb(90 166 234);
    }

    .goals{
        background-color: rgb(159 104 228);
    }

    .recruiting{
        background-color: rgb(108 192 169);
    }

    .mobile{
        background-color: rgb(236 162 55);
    }

    .website{
        background-color: rgb(212 97 161);
    }

    .sales{
        background-color: rgb(174 205 40);
    }